<div class="footer" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 600px; clear: both; color: #898989; margin: 0;">

    <% if( brand.themeConfig.default.nativeMobileApp && brand.themeConfig.default.nativeMobileApp.appId ) { %>
    <table width="600px" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; padding: 20px 0 0 0;">
        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td align="center">
                <% if( brand.themeConfig.default.nativeMobileApp.apple.storeUrl ) { %><a href="<%= brand.themeConfig.default.nativeMobileApp.apple.storeUrl %>" itemprop="url" style="display: inline-block; height: 40px; overflow: hidden; width: 135px; background: rgba(0, 0, 0, 0) url('https://s3-us-west-1.amazonaws.com/cdn.boxmls.com/email/apple_app_store_badge.png') no-repeat scroll 0 0; background-size:135px;"> </a><% } %>
                <% if( brand.themeConfig.default.nativeMobileApp.google.storeUrl ) { %><a href="<%= brand.themeConfig.default.nativeMobileApp.google.storeUrl %>" itemprop="url" style="display: inline-block; height: 40px; overflow: hidden; width: 135px; background: rgba(0, 0, 0, 0) url('https://s3-us-west-1.amazonaws.com/cdn.boxmls.com/email/google_play_badge.png') no-repeat scroll -10px -10px; background-size:155px;"> </a><% } %>
            </td>
        </tr>
    </table>
    <% } %>

    <table width="540" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; padding: 20px 20px 20px 40px;">
        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td class=" content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; color: #898989; text-align: left; margin: 0; padding: 0 0 20px;" align="center" valign="top">
                To ensure you get <%= brand.themeConfig.default.company.product %> emails, please add<br/>
                <a style="text-decoration: none; color: #0068b9; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px;" href="mailto:<%= from %>"><%= from %></a> to your address book.
            </td>
        </tr>
        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; color: #898989; text-align: left; margin: 0; padding: 0;" align="center" valign="top">
                If you have questions, please contact <%= brand.themeConfig.default.company.product %> customer support at <a style="text-decoration: none; color: #0068b9; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px;" href="mailto:notify@<%= brand.domain.email %>">notify@<%= brand.domain.email %></a>
            </td>
        </tr>
    </table>

    <hr style="margin: 0; padding: 0; border: 0; height: 1px; width: 600px; padding: 0; margin: 0; font-color: #dfdfdf; color: #dfdfdf; background-color: #dfdfdf;" />

    <table width="540" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; padding: 20px 20px 0 40px;">
        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td class=" content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; color: #898989; text-align: left; margin: 0; padding: 0;" align="center" valign="top">
                Powered by <%= brand.themeConfig.default.company.poweredBy.name %>. All content Copyright &copy; <%= year %>
            </td>
        </tr>
        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td class="content-block" style="color: #898989; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; color: #898989; text-align: left; margin: 0; padding: 0;" align="center" valign="top">
                <a style="text-decoration: none; color: #0068b9; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px;" href="<%= siteUrl %>/privacy">Privacy</a> | <a style="text-decoration: none; color: #0068b9; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px;" href="<%= siteUrl %>/terms">Terms Of Use</a> | <a style="text-decoration: none; color: #0068b9; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px;" href="<%= siteUrl %>/vow-terms">VOW Terms</a> | <a style="text-decoration: none; color: #0068b9; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px;" href="<%= siteUrl %>/mls-disclaimers">MLS Disclaimers</a>
            </td>
        </tr>
    </table>

</div>



