<table class="main" width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; padding: 0 0 20px 0;">
    <tr>
        <td width="320" style="width: 320px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;" valign="top">
            <img style="width: 100%;" src="<%= brand.emailLogoURI %>" alt="<%= brand.themeConfig.default.company.product %>" title="<%= brand.themeConfig.default.company.product %>" />
        </td>
        <td width="250" style="width: 250px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: bottom; margin: 0;" valign="bottom">
            <table style="padding: 0 0 24px 30px; margin: 0;" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="text-align: left;"><a style="text-decoration: none; color: #0068b9; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px;" href="mailto:<%= from %>"><%= from %></td>
                </tr>
                <tr>
                    <td style="color: #898989; text-align: left; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px;"><%= contact_phone %></td>
                </tr>
            </table>
        </td>
    </tr>
</table>